/* -- fonts
------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Righteous);

@import url(http://fonts.googleapis.com/css?family=Spinnaker);

/* --- globals
----------------------------- */
html, body {
  background: transparent;
  height: 100%;
  width: 100%;
}

body, p {
  font-family: 'Spinnaker', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

h1 {
  font-family: 'Righteous', 'cursive';
  font-size: 24px;
  text-transform: uppercase;
  color: #c32638;
  letter-spacing: 1px;
}

#home-content h1,
#contact-content {
  margin-top: 0;
}

nav.tab-bar h1 {
  font-size: 16px !important;
}

a, a span {
  transition: 500ms;
}

a {
  color: #c1293c;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

a,
a:focus,
a:active {
  outline: none;
}

button, .button {
  background-color: #10a6dd;
  font-family: 'Maven Pro', 'sans-serif';
  font-size: 15px;
  color: white;
}

button:hover, .button:hover {
  background-color: #62b9d6;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  color: #464841;
  font-weight: 300;
}

p {
  color: #000;
  font-size: 14px;
  line-height: 24px;
}

.spacer5px {
  height: 5px;
  clear: both;
}

.spacer10px {
  height: 10px;
  clear: both;
}

.spacer15px {
  height: 15px;
  clear: both;
}

.spacer20px {
  height: 20px;
  clear: both;
}

.spacer25px {
  height: 25px;
  clear: both;
}

.spacer30px {
  height: 30px;
  clear: both;
}

.spacer40px {
  height: 40px;
  clear: both;
}

.spacer50px {
  height: 50px;
  clear: both;
}

/* --- top nav
----------------------------- */
nav.tab-bar {
  background: #2F2722;
}

section.left-small {
  border-right: 1px solid #fff;
  box-shadow: none;
}

nav.tab-bar h1,
nav.tab-bar h2,
nav.tab-bar h3,
nav.tab-bar h4 {
  text-transform: uppercase;
}

.mobile-logo {
  margin-left: 75px;
}

/* --- off canvas
----------------------------- */
section.tab-bar-section.middle {
  text-align: left;
}

section.tab-bar-section.middle {
  right: 0;
}

#site-logo-small {
  position: absolute;
  top: 0;
  left: 75px;
}

.left-off-canvas-menu {
  background: #2F2722;
  border-bottom: 1px solid #fff;
  height: 100vh;
}

ul.off-canvas-list li label {
  color: #fff;
  background: #2F2722;
  border-bottom: 1px solid #fff;
}

ul.off-canvas-list li a {
  text-transform: uppercase;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

ul.off-canvas-list li.active a,
ul.off-canvas-list li:hover {
  background: #C89F3F;
}

/* --- main nav
----------------------------- */
#main-nav {
  /*  margin-top: -125px;*/
  margin-top: 180px;
  z-index: 50;
  width: 250px;
}

#main-nav ul {
  list-style: none outside none;
  width: 100%;
  margin-left: 0;
}

#main-nav ul li {
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  display: inline-block;
}

#main-nav ul li a {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Righteous', 'cursive';
  color: #140905;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

#main-nav ul li span {
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 8px;
  width: 100%;
}

#main-nav ul li span {
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#main-nav ul li span:hover {
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}

#main-nav ul li.corp-home-nav span {
  background: url("../images/icons/left-nav-home.png") no-repeat;
  width: 57px;
  height: 52px;
}

#main-nav ul li.corp-location-nav span {
  background: url("../images/icons/left-nav-location.png") no-repeat;
  width: 57px;
  height: 52px;
/*  margin-left: 23px;*/
}

#main-nav ul li.corp-contact-nav span {
  background: url("../images/icons/left-nav-contact.png") no-repeat;
  width: 57px;
  height: 52px;
/*  margin-left: 16px;*/
}

#main-nav ul li.corp-home-nav span:hover,
#main-nav ul li.active span.corp-home-nav {
  background: url("../images/icons/left-nav-home-hover.png") no-repeat;
  width: 57px;
  height: 52px;
}

#main-nav ul li.corp-location-nav span:hover,
#main-nav ul li.active span.corp-location-nav {
  background: url("../images/icons/left-nav-location-hover.png") no-repeat;
  width: 57px;
  height: 52px;
}

#main-nav ul li.corp-contact-nav span:hover,
#main-nav ul li.active span.corp-contact-nav {
  background: url("../images/icons/left-nav-contact-hover.png") no-repeat;
  width: 57px;
  height: 52px;
}

hr.hrnav {
  width: 100%;
  max-width: 170px;
  display: block;
  text-align: center;
  margin: 15px 0 20px 40px;
}

/* --- left column
----------------------------- */
#site-logo {
  position: fixed;
  top: 0;
  left: 3px;
  padding: 25px 0 10px 0;
  z-index: 50;
  -webkit-transition: width 400ms linear;
  -moz-transition: width 400ms linear;
  -ms-transition: width 400ms linear;
  -o-transition: width 400ms linear;
  transition: width 400ms linear;
}

/* --- content - containers
----------------------------- */
.column {
  padding-left: 0;
  padding-right: 0;
}

.row.max-width {
  width: 100%;
  max-width: 100%;
}

#main-section {
  height: 100%;
  min-height: 100px;
}

#site-pages {
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
}

#home-content {
  padding-right: 3rem;
}

#home-content,
#contact-content {
  padding: 2%;
  background: url("../images/bg-content.png") repeat;
}

/* --- read more
----------------------------- */
#contact-content a.morelink {
  float: right;
}
#home-content a.morelink {
  background: url("../images/plus.png") no-repeat;
  color: transparent;
  height: 65px;
  width: 70px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}

#home-content a.morelink.less {
  background: url("../images/minus.png") no-repeat;
  height: 65px;
  width: 70px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}


/* --- footer
----------------------------- */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -65px !important;
}

.footer, .push {
  height: 65px !important;
}

a.leaselabs {
  text-decoration: underline;
  color: #000;
}

#site-footer  p {
  font-size: 10px;
  padding-left: 13px;
  color: #000;
  line-height: 14px;
  padding-top: 30px;
}

@media only screen and (min-width: 1025px) {
  #site-sidebar {
    width: 250px;
    height: 100% !important;
    -webkit-transform: 1s ease-out;
    -moz-transform: 1s ease-out;
    transform: 1s ease-out;
    background: #fff;
    position: fixed;
  }
  #site-pages {
    background: none repeat scroll 0 0 #C1C1C1;
    height: 100%;
    /*  left: 250px;
        position: absolute;
        right: 0;
        top: 0;*/
    -webkit-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
  }
  /* --- footer
  ----------------------------- */
  #site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 250px;
    height: 65px;
    z-index: 50;
    /*  overflow: hidden;*/
    -webkit-transition: width 400ms linear;
    -moz-transition: width 400ms linear;
    -ms-transition: width 400ms linear;
    -o-transition: width 400ms linear;
    transition: width 400ms linear;
  }
  .footer-thirdparty {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 65px;
  }
}

@media only screen and (min-width: 768px) {
  #home-content,
  #contact-content {
    padding: 2%;
    background: url("../images/bg-content.png") repeat;
    position: fixed;
    bottom: 20px;
    left: 270px;
    right: 20px;
  }
  #mobile-footer {
    background: #fff;
    height: 65px !important;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 100;
    display: block;
  }
  .footer-thirdparty {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 65px;
  }
  #mobile-footer  p {
    font-size: 10px;
    padding-left: 13px;
    color: #000;
    line-height: 14px;
    padding-top: 30px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1024px) {
  #site-sidebar {
    width: 250px;
    -webkit-transform: 1s ease-out;
    -moz-transform: 1s ease-out;
    transform: 1s ease-out;
    background: #fff;
    position: relative;
    display: none;
  }
  #home-content {
    padding-right: 3rem;
  }
  #home-content,
  #contact-content {
    left: 20px;
    bottom: 85px;
  }
  #mobile-footer {
    background: #fff;
    position: inherit;
    height: 65px !important;
    text-align: left;
    width: 100%;
    z-index: 100;
    display: block;
  }
  .footer-thirdparty {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 65px;
  }
  #mobile-footer  p {
    font-size: 10px;
    padding-left: 13px;
    color: #000;
    line-height: 14px;
    padding-top: 30px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  #contact-content {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #home-content {
    margin-top: 20px;
  }
}

@media only screen and (max-width:640px) {
  body#home {
    background: url('../images/bg-1.jpg') no-repeat;
    background-size: cover;
  }
  body#contact {
    background: url('../images/bg-2.jpg') no-repeat;
        background-size: cover;
  }
}

@media only screen and (max-width: 320px) {
  #home-content,
  #contact-content {
    left: 20px;
    top: 65px;
  }
}