/* -- fonts
------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Righteous);

@import url(http://fonts.googleapis.com/css?family=Spinnaker);

/* --- globals
----------------------------- */
html, body {
  background: transparent;
  height: 100%;
  width: 100%;
}

body, p {
  font-family: 'Spinnaker', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

h1 {
  font-family: 'Righteous', 'cursive';
  font-size: 24px;
  text-transform: uppercase;
  color: #c32638;
  letter-spacing: 1px;
}

nav.tab-bar h1 {
  font-size: 16px !important;
}

a, a span {
  transition: 500ms;
}

a {
  color: #c1293c;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

a,
a:focus,
a:active {
  outline: none;
}

button, .button {
  background-color: #10a6dd;
  font-family: 'Maven Pro', 'sans-serif';
  font-size: 15px;
  color: white;
}

button:hover, .button:hover {
  background-color: #62b9d6;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  color: #464841;
  font-weight: 300;
}

p {
  color: #000;
  font-size: 14px;
  line-height: 24px;
}

.block{display: block;}

.spacer5px {
  height: 5px;
  clear: both;
}

.spacer10px {
  height: 10px;
  clear: both;
}

.spacer15px {
  height: 15px;
  clear: both;
}

.spacer20px {
  height: 20px;
  clear: both;
}

.spacer25px {
  height: 25px;
  clear: both;
}

.spacer30px {
  height: 30px;
  clear: both;
}

.spacer40px {
  height: 40px;
  clear: both;
}

.spacer50px {
  height: 50px;
  clear: both;
}

/* --- top nav
----------------------------- */
nav.tab-bar {
  background: #2F2722;
}

section.left-small {
  border-right: 1px solid #fff;
  box-shadow: none;
}

nav.tab-bar h1,
nav.tab-bar h2,
nav.tab-bar h3,
nav.tab-bar h4 {
  text-transform: uppercase;
}

.mobile-logo {
  margin-left: 75px;
}

/* --- off canvas
----------------------------- */
section.tab-bar-section.middle {
  text-align: left;
}

section.tab-bar-section.middle {
  right: 0;
}

#site-logo-small {
  position: absolute;
  top: 0;
  left: 75px;
}

.left-off-canvas-menu {
  background: #2F2722;
  border-bottom: 1px solid #fff;
  height: 100vh;
}

ul.off-canvas-list li label {
  color: #fff;
  background: #2F2722;
  border-bottom: 1px solid #fff;
}

ul.off-canvas-list li a {
  text-transform: uppercase;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

ul.off-canvas-list li.active a,
ul.off-canvas-list li:hover {
  background: #C89F3F;
}

/* --- main nav
----------------------------- */
#main-nav {
  /*  margin-top: -125px;*/
  margin-top: 180px;
  z-index: 50;
  width: 250px;
}

#main-nav ul {
  list-style: none outside none;
  width: 100%;
  margin-left: 0;
}

#main-nav ul li {
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  display: inline-block;
}

#main-nav ul li a {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Righteous', 'cursive';
  color: #140905;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

#main-nav ul li span {
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 8px;
  width: 100%;
}

#main-nav ul li span {
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#main-nav ul li span:hover {
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}

#main-nav ul li.corp-home-nav span {
  background: url("../images/icons/left-nav-home.png") no-repeat;
  width: 57px;
  height: 52px;
}

#main-nav ul li.corp-location-nav span {
  background: url("../images/icons/left-nav-location.png") no-repeat;
  width: 57px;
  height: 52px;
/*  margin-left: 23px;*/
}

#main-nav ul li.corp-contact-nav span {
  background: url("../images/icons/left-nav-contact.png") no-repeat;
  width: 57px;
  height: 52px;
/*  margin-left: 16px;*/
}

#main-nav ul li.corp-home-nav span:hover,
#main-nav ul li.active span.corp-home-nav {
  background: url("../images/icons/left-nav-home-hover.png") no-repeat;
  width: 57px;
  height: 52px;
}

#main-nav ul li.corp-location-nav span:hover,
#main-nav ul li.active span.corp-location-nav {
  background: url("../images/icons/left-nav-location-hover.png") no-repeat;
  width: 57px;
  height: 52px;
}

#main-nav ul li.corp-contact-nav span:hover,
#main-nav ul li.active span.corp-contact-nav {
  background: url("../images/icons/left-nav-contact-hover.png") no-repeat;
  width: 57px;
  height: 52px;
}

hr.hrnav {
  width: 100%;
  max-width: 170px;
  display: block;
  text-align: center;
  margin: 15px 0 20px 40px;
}

/* --- left column
----------------------------- */
#site-logo {
  position: fixed;
  top: 0;
  left: 3px;
  padding: 25px 0 10px 0;
  z-index: 50;
  -webkit-transition: width 400ms linear;
  -moz-transition: width 400ms linear;
  -ms-transition: width 400ms linear;
  -o-transition: width 400ms linear;
  transition: width 400ms linear;
}

/* --- content - containers
----------------------------- */
.column {
  padding-left: 0;
  padding-right: 0;
}

.row.max-width {
  width: 100%;
  max-width: 100%;
}

#main-section {
  height: 100%;
  min-height: 100px;
}

#site-pages {
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
}

#location-content {
  padding-right: 3rem;
}

#location-content .comment p {
  color: #fff;
}

#location-content {
  padding: 2%;
  background: #000;
}

/* --- read more
----------------------------- */
#location-content a.morelink {
  background: url("../images/plus.png") no-repeat;
  color: transparent;
  height: 65px;
  width: 70px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}

#location-content a.morelink.less {
  background: url("../images/minus.png") no-repeat;
  height: 65px;
  width: 70px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}

/* --- location page
----------------------------- */
#map .gmaps_info_window * { line-height: normal !important; }
.gm-style img{ max-width: none !important }
.gm-style .gm-style-iw,
.gm-style .gm-style-iw a,
.gm-style .gm-style-iw span,
.gm-style .gm-style-iw label,
.gm-style .gm-style-iw div {
  font-size: 12px;
  position: relative; }
#location-map {
  background: #f3f3f3;
  height: 100%;
}

#map_container {
  max-width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
  min-height: 665px;
}

.gmaps_info_window h4.name {
  color: #7E7D53;
}



hr.prop-border {
  margin: 0;
}

.prop-number {
  text-align: center;
}
.prop-number p {
  color: #fff !important;
}


/* --- footer
----------------------------- */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -65px !important;
}

.footer, .push {
  height: 65px !important;
}

a.leaselabs {
  text-decoration: underline;
  color: #000;
}

#site-footer  p {
  font-size: 10px;
  padding-left: 13px;
  color: #000;
  line-height: 14px;
  padding-top: 30px;
}

@media only screen and (min-width: 1025px) {
  #site-sidebar {
    width: 250px;
    height: 100% !important;
    -webkit-transform: 1s ease-out;
    -moz-transform: 1s ease-out;
    transform: 1s ease-out;
    background: #fff;
    position: fixed;
  }
  #site-pages {
    background: none repeat scroll 0 0 #C1C1C1;
    height: 100%;
    /*  left: 250px;
        position: absolute;
        right: 0;
        top: 0;*/
    -webkit-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: left 1ms cubic-bezier(0.86, 0, 0.07, 1);
  }
  #location-content {
    padding: 2%;
    background: #000;
    position: fixed;
    bottom: 0;
    left: 250px;
    right: 0;
  }
  #location-map {
    position: fixed;
    left: 250px;
    right: 0;
  }
  /* --- property list styles - location page
  ----------------------------- */
  /*  #property-list, #property-holder, .slimScrollDiv {
      overflow: auto !important;
    }*/
  table #property-holder-small {
    width: 100%;
  }
  #property-list {
    overflow-y: hidden;
    height: 100%;
  }
  .prop-show {}
  .property {
    clear: both;
    display: table;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    padding: 0;
  }
  .property [class*="column"] + [class*="column"]:last-child {
    float: left;
  }
  .property .large-6 {
    max-width: 130px;
  }
  .property .large-1 {
    max-width: 20px;
  }
  .prop-show .prop-order {
    float: left;
    margin: 1px;
  }
  .prop-show .prop-number {
    background: #c69a35;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    height: 109px;
    line-height: 25px;
    text-align: center;
    width: 20px;
  }
  .property .pro-image {
    width: 130px;
    padding: 10px 0 0 7px;
  }
  .prop-number {
    padding-top: 45px;
  }
  .property:hover {
    background: #010101;
    color: #fff;
  }
  .property:hover p {
    color: #fff !important;
  }
  .property .pro-address {
    padding: 0;
    max-height: 109px;
  }
  .property .pro-address a {
    color: #c42b3d;
  }
  .property .pro-address p {
    line-height: 17px;
    font-size: 13px;
    padding: 5px 0 0 0;
    color: #000;
  }
  html.lt-ie11 select {
    background: none !important;
  }
  /* --- footer
  ----------------------------- */
  #site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 250px;
    height: 65px;
    z-index: 50;
    /*  overflow: hidden;*/
    -webkit-transition: width 400ms linear;
    -moz-transition: width 400ms linear;
    -ms-transition: width 400ms linear;
    -o-transition: width 400ms linear;
    transition: width 400ms linear;
  }
  .footer-thirdparty {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 65px;
  }
}

@media only screen and (min-width: 768px) {
  #location-map .large-8 {
    height: 100%;
  }
  #mobile-footer {
    background: #fff;
    height: 65px !important;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 100;
    display: block;
  }
  .footer-thirdparty {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 65px;
  }
  #mobile-footer  p {
    font-size: 10px;
    padding-left: 13px;
    color: #000;
    line-height: 14px;
    padding-top: 30px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1024px) {
  #site-sidebar {
    width: 250px;
    -webkit-transform: 1s ease-out;
    -moz-transform: 1s ease-out;
    transform: 1s ease-out;
    background: #fff;
    position: relative;
    display: none;
  }
  #location-content {
    padding-right: 3rem;
  }
  #location-map,
  #location-content {
    left: 0;
    bottom: 65px;
  }
  #location-map {
    top: 45px;
  }
  .property .list-height {
    background: #c69a35;
    width: 20px;
  }
  .property {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #e1dfdf;
  }
  .prop-order {
/*    height: 100%;*/
  }
  .property .pro-image {
    padding: 0 0 0 10px;
    overflow: hidden;
  }
  table#property-holder-small {
    border: none;
    margin-bottom: 0;
    border-spacing: 1px;
    padding: 0;
  }
  table#property-holder-small tr:nth-of-type(even) {
    background: #fff;
  }
  table#property-holder-small td {
    padding: 0;
  }

  #property-holder-small {
    background: #fff;
    width: 100%;
  }
  .property .pro-address a {
    color: #c42b3d;
  }
  table#property-holder-small td.pro-address {
    padding-left: 1.5rem;
    min-width: 150px;
  }
  .property .pro-address p {
    line-height: 22px;
    font-size: 16px;
    padding: 10px 0 0 0;
    color: #000;
  }
  .prop-number p {
    margin-bottom: 0;

  }
  #mobile-footer {
    background: #fff;
    position: inherit;
    height: 65px !important;
    text-align: left;
    width: 100%;
    z-index: 100;
    display: block;
  }
  .footer-thirdparty {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 65px;
  }
  #mobile-footer  p {
    font-size: 10px;
    padding-left: 13px;
    color: #000;
    line-height: 14px;
    padding-top: 30px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  #location-content {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 320px) {
  #home-content,
  #contact-content {
    left: 20px;
    top: 65px;
  }
}