---
title: Contact

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

handle: contact
---
{% extends index %}

{% block main %}

.large-12.column
  #home-content
    %h1 {% editable_text title, format: raw, rows: 1 %}Contact{% endeditable_text %}
    .comment
      {% editable_text content, format: html, rows: 5 %}
      %p
        Lorem ipsum
      {% endeditable_text %}

{% endblock %}