---
title: Welcome
published: true
handle: home
---
!!!
/[if IE 9 ] <html class="no-js lt-ie10" lang="en">
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title {{ site.name }} : {{ page.title }}
    %meta{content: "initial-scale=1,maximum-scale=1,user-scalable=no", name: "viewport" }
    %meta{content: "telephone=no", name: "format-detection" }
    %link{href: "{{ 'favicon.ico' | theme_image_url }}", rel: "ICON", type: "image/x-icon" }
    %link{href: "{{ 'normalize.css' | stylesheet_url }}", media: "screen, projection", rel: "stylesheet", type: "text/css" }
    %link{href: "{{ 'foundation.css' | stylesheet_url }}", media: "screen, projection", rel: "stylesheet", type: "text/css" }
    %link{href: "{{ 'jquery.fancybox.css' | stylesheet_url }}", media: "screen, projection", rel: "stylesheet", type: "text/css" }
    %link{href: "{{ 'jquery.maximage.css' | stylesheet_url }}", media: "screen, projection", rel: "stylesheet", type: "text/css" }
    %link{href: "{{ 'application.css' | stylesheet_url }}", media: "screen, projection", rel: "stylesheet", type: "text/css" }

    {% block html_head %}{% endblock %}

    {% include google %}

    %script{language: "javascript", src: "{{ 'modernizr.js' | javascript_url }}", type: "text/javascript"}
  / /html
  %body#home
    {% capture logo_url %}{% editable_file logo, fixed: true %}/samples/logo.png{% endeditable_file %}{% endcapture %}

    {% block background %}
    - 3.times do |i|
      {% capture background_image_#{i + 1} %}{% editable_file image_#{i + 1} %}/samples/pages/bg-#{i + 1}.jpg{% endeditable_file %}{% endcapture %}
    {% endblock %}

    #full-bg.hide-for-small
      - 3.times do |i|
        {% if background_image_#{i + 1} != blank %}
        %img{ src: "{{ background_image_#{i + 1} }}" }
        {% endif %}

    .off-canvas-wrap.wrapper
      .inner-wrap
        %nav.tab-bar.hide-for-large-up
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon
              %span
          %section.middle.tab-bar-section
            %h1.title
              Menu
            #site-logo-small
              %a{href: "/", title: "A&amp;M Properties"}
                %img.logo{alt: "A&amp;M Properties", src: "{{ logo_url | resize: '125x40#' }}" }
        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li{ class: '{% if page.handle == "home" %}active{% endif %}' }
              %a{ href: "/", title: "Home" } Home
            %li
              %a{href: "{% path_to location %}", title: "Property Map"}
                Property Map
            %li
              %a{href: "{% path_to contact %}", title: "Contact Us"}
                Contact Us
        #main-section
          .row.max-width
            .large-3.column
              #site-sidebar
                #site-logo.hide-for-small
                  %a{href: "/", title: "A&amp;M Properties"}
                    %img.logo{alt: "A&amp;M Properties", src: "{{ logo_url }}" }

                #main-nav
                  %ul
                    %li{ class: 'corp-home-nav {% if page.handle == "home" %}active{% endif %}' }
                      %a{href: "/", title: "Home" }
                        %span.corp-home-nav.large
                        %br
                        Home
                      %hr.hrnav
                    %li{ class: 'corp-location-nav {% if page.handle == "location" %}active{% endif %}' }
                      %a{href: "{% path_to location %}", title: "Property Map" }
                        %span.corp-location-nav.large
                        %br
                        Property Map
                      %hr.hrnav

                    %li{ class: 'corp-contact-nav {% if page.handle == "contact" %}active{% endif %}' }
                      %a{href: "{% path_to contact %}", title: "Contact Us" }
                        %span.corp-contact-nav.large
                        %br
                        Contact Us
                      %hr.hrnav

                #site-footer
                  .footer-thirdparty
                    %img.equalhousing{alt: "Equal Housing Logo", src: "{{ 'eho.png' | theme_image_url }}" }
                  %p
                    \&copy;{{ today | format_date: '%Y' }} A&M Properties&nbsp;
                    %a.leaselabs{href: "http://www.leaselabs.com/", target: "_blank"}
                      Powered by LeaseLabs&trade;
            .large-9.column
              #site-pages
                {% block main %}
                .large-12.column
                  #home-content
                    %h1 {% editable_text title, format: raw, rows: 1 %}Welcome to A&amp;M Properties!{% endeditable_text %}
                    .comment
                      {% editable_text content, format: html, rows: 5 %}
                      %p
                        A&M Properties is dedicated to connecting you with the perfect Orange County apartment. With decades of hands-on real estate management experience, an enthusiastic, highly knowledgeable staff and a wonderful selection of properties throughout the Orange County area, we’re confident that we can match you with an apartment home that caters to your lifestyle, suits your personality and most of all keeps you coming home happy day in and day out. Whether you’re hunting for apartments in Anaheim, rentals in Huntington Beach, or townhomes in Westminster, we pride ourselves on our ability to help you find exactly what you’re looking for. It is this dedication to our clients’ satisfaction that has made A&M Properties one of the most trusted names in Orange County real estate. Discover your ideal Southern California home today with A&M Properties.
                      {% endeditable_text %}
                {% endblock %}
        %a.exit-off-canvas
      .spacer20px
      .push
    #mobile-footer.show-for-medium-down
      .footer-thirdparty
        %img.equalhousing{alt: "Equal Housing Logo", src: "{{ 'eho.png' | theme_image_url }}" }
      %p
        \&copy;{{ today | format_date: '%Y' }} A&M Properties&nbsp;
        %a.leaselabs{href: "http://www.leaselabs.com/", target: "_blank"}
          Powered by LeaseLabs&trade;

    {{ 'jquery.js' | javascript_tag }}
    {{ 'foundation.min.js' | javascript_tag }}
    {{ 'jquery.fancybox.js' | javascript_tag }}
    {{ 'plugins.js' | javascript_tag }}
    {{ 'jquery.cycle.all.js' | javascript_tag }}
    {{ 'jquery.maximage.js' | javascript_tag }}
    {{ 'jquery.shorten.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}

    {% block misc_javascript %}{% endblock %}

    :javascript
      $(document).foundation();
