---
title: Location

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

handle: location
---
{% extends index %}

{% block html_head %}
{{ 'location.css' | stylesheet_tag }}
{% endblock %}

{% block main %}

#location-map
  .large-8.column
    #map_container
      #map.show-for-medium-up
      #map_static.show-for-small
  .large-4.column
    #property-list
      .large-12.column
        .prop-show
          .hide-for-medium-down
            #property-holder
              {% for property in contents.properties %}

              - # Make a call to the API of the property
              {% assign api_point = property.url | append: '/local-api/information.json' %}
              {% consume api from api_point %}
              {% assign information = api %}
              {% endconsume %}

              .property{ data: { href: '{{ property.url}}', address: '{{ information.address }}', longitude: '{{ information.longitude }}', latitude: '{{ information.latitude }}', state: '{{ information.state }}', name: '{{ information.name }}', city: '{{ information.city }}', zip: '{{ information.zip }}', zip: '{{ information.zip }}', markericon: '{{ "markers/" | append: forloop.index | append: ".png" | theme_image_url }}', daddr: "{{ information.address | replace: ' ', '+' }},+{{ information.city }},+{{ information.state }}+{{ information.zip }}" } }

                .large-1.column
                  .prop-order
                    .prop-number
                      %p
                        {{ forloop.index }}
                .large-5.column
                  .pro-image
                    %img.block{src: "{{ information.picture | resize: '200x184' }}" }/
                .large-6.column
                  .pro-address
                    %p
                      {{ information.name }}
                      %br/
                      {{ information.address }}
                      %br/
                      {{ information.city }}
                      ,
                      {{ information.state }}
                      %br/
                      %a.prop-site{href: "{{ property.url }}", target: "_blank"}
                        Visit Website
              %hr.prop-border/
              {% endfor %}
#location-content
  %h1 {% editable_text title, format: raw, rows: 1 %}Property Map{% endeditable_text %}
  .comment
    {% editable_text content, format: html, rows: 5 %}
    %p A&M Properties offers an extraordinary selection of apartments for rent in the Orange County area. Whether you’re looking for apartments in Anaheim, Huntington Beach, Westminster or Stanton, our charming properties are beautifully designed, meticulously maintained and perfectly located to put you within easy reach of work, the beach, and plenty of convenient shopping, dining, entertainment and nightlife. Choose from among our ten beautifully appointed communities to find cozy studios and sprawling one-, two- and three-bedroom apartments featuring stylish interiors, luxurious community amenities and all the exciting extras you look for in a place to live. A&M Properties invites you to discover the ultimate in sunny Southern California living.
    {% endeditable_text %}

{% endblock %}

{% block misc_javascript %}
{{ 'jquery.slimscroll.js' | javascript_tag }}
{{ 'location.js' | javascript_tag }}

/ INCLUDE GMAPS V3 (USING API KEY IF EXISTS)
:javascript
  //# INCLUDE GMAPS V3 API UNLESS ALREADY INCLUDED
  var google_maps_include_url = "https://maps.googleapis.com/maps/api/js?v=3";
  if(typeof google=='undefined'||typeof google.maps=='undefined') document.write('<script type="text/javascript" src="'+google_maps_include_url+'"><\/script>');

:javascript

  /*############################################################################################################
  ## BELOW SHOULD NOT NEED TO BE MODIFIED (EAC 7/8/2013) #######################################################
  ############################################################################################################*/

  var gmaps_theme_options,api_map_options;

  var prop = {}; // OBJECT CONTAINING ALL PROPERTIES
  var GMapsStaticSrc = 'http://maps.googleapis.com/maps/api/staticmap?sensor=false'; // TO BE APPENDED BELOW...

  function initPropertyGMap(){

    gmaps_theme_options = (typeof GMapsSetOptions==='function') ? GMapsSetOptions() : {} ;

    gmaps_theme_options.is_local_env = false;

    GMapsStaticSrc += (gmaps_theme_options.map_type && gmaps_theme_options.map_type!='') ? '&maptype='+gmaps_theme_options.map_type : '';

    gmaps_theme_options.map_zoom_initial = (typeof gmaps_theme_options.map_zoom_initial === 'number') ? gmaps_theme_options.map_zoom_initial : 12 ;

    api_map_options = {
      mapTypeId: gmaps_theme_options.map_type,
      zoom: gmaps_theme_options.map_zoom_initial
    };

    if(!gmaps_theme_options.property_button_class_name || gmaps_theme_options.property_button_class_name==''){
      gmaps_theme_options.property_button_class_name = 'property_link';
    }

    if(!gmaps_theme_options.map_static_id_attr || gmaps_theme_options.map_static_id_attr==''){
      gmaps_theme_options.map_static_id_attr = 'map_static';
    }

    if(!gmaps_theme_options.map_id_attr || gmaps_theme_options.map_id_attr==''){
      gmaps_theme_options.map_id_attr = 'map';
    }

    if(typeof gmaps_theme_options.map_zoom_range==='object'){

      for(xx in gmaps_theme_options.map_zoom_range){
        if(typeof gmaps_theme_options.map_zoom_range[xx]!=='number'){
          gmaps_theme_options.map_zoom_range[xx] = null;
        }
      }

      gmaps_theme_options.map_zoom_range.sort(function(a,b){return a-b;});

      api_map_options.minZoom = gmaps_theme_options.map_zoom_range[0];
      api_map_options.maxZoom = gmaps_theme_options.map_zoom_range[1];

      if(gmaps_theme_options.map_zoom_initial){
        if(gmaps_theme_options.map_zoom_initial < api_map_options.minZoom){
          api_map_options.zoom = api_map_options.minZoom
        }else if(gmaps_theme_options.map_zoom_initial > api_map_options.maxZoom){
          api_map_options.zoom = api_map_options.maxZoom
        }
      }

    }

    var GMOMarkerAnchorPoint = null;

    /* GMAPS CONTROL OPTIONS */
    gmapsSetupControlOptions('scrollwheel',null,'scroll_wheel_control');
    gmapsSetupControlOptions('streetViewControl','streetViewControlOptions','street_view_control');
    gmapsSetupControlOptions('overviewMapControl','overviewMapControlOptions','overview_control');
    gmapsSetupControlOptions('rotateControl','rotateControlOptions','rotate_control');
    gmapsSetupControlOptions('mapTypeControl','mapTypeControlOptions','type_control');
    gmapsSetupControlOptions('scaleControl','scaleControlOptions','scale_control');
    gmapsSetupControlOptions('zoomControl','zoomControlOptions','zoom_control');
    gmapsSetupControlOptions('panControl','panControlOptions','pan_control');

    /* GMAPS STYLE OPTIONS */
    if(typeof gmaps_theme_options.map_style==='object') api_map_options.styles = gmaps_theme_options.map_style;

    /* GMAPS MARKER OPTIONS */
    if(typeof gmaps_theme_options.marker_anchor_point === 'object'){
      GMOMarkerAnchorPoint = new google.maps.Point(gmaps_theme_options.marker_anchor_point[0],gmaps_theme_options.marker_anchor_point[1]);
    }

    /* GMAPS STATIC OPTIONS */
    if(gmaps_theme_options.map_static_dimensions && gmaps_theme_options.map_static_dimensions!=''){
      GMapsStaticSrc += '&size='+gmaps_theme_options.map_static_dimensions;
    }else{
      GMapsStaticSrc += '&size=640x640';
    }

    if(typeof gmaps_theme_options.map_static_scale === 'number'){
      GMapsStaticSrc += '&scale='+gmaps_theme_options.map_static_scale;
    }else{
      GMapsStaticSrc += '&scale=2';
    }

    if(gmaps_theme_options.map_center_offset_zoom && typeof gmaps_theme_options.map_center_offset_zoom !== 'number'){
      gmaps_theme_options.map_center_offset_zoom = 0;
    }

    if(typeof gmaps_theme_options.mobile_breakpoint !== 'number'){
      gmaps_theme_options.mobile_breakpoint = 768;
      if(typeof Foundation !== 'undefined'){
        if(Foundation.version){
          var foundation_version = parseFloat(Foundation.version);
          if(foundation_version>=5){
            gmaps_theme_options.mobile_breakpoint = 640;
          }
        }
      }
    }

    /* GMAPS INFO-WINDOW CONTENT */
    if(typeof gmaps_theme_options.prop_content!=='function'){
      gmaps_theme_options.prop_content = function(prop){
        var has_full_address = (prop.address && prop.city && prop.state && prop.zip);
        var html_str = '';
        html_str += '<div class="gmaps_info_window">';
        html_str += (prop.name)?'<p><b class="name">'+prop.name+'</b></p>':'';
        html_str += (has_full_address)?'<p class="location"><span class="address">'+prop.address+'</span><br /><span class="city">'+prop.city+'</span><span>,&nbsp;</span><span class="state">'+prop.state+'</span><span>&nbsp;</span><span class="zip">'+prop.zip+'</span></p>':'';
        html_str += (has_full_address||prop.href)?'<p class="cta">':'';
        html_str += (prop.href)?'<a href="'+prop.href+'" title="'+prop.name+'" target="_blank">Visit&nbsp;Website</a><span> </span>':'';
        html_str += (has_full_address)?'<a href="'+prop.directions_link+'" title="'+prop.name+'" target="_blank">Get&nbsp;Directions</a>':'';
        html_str += (has_full_address||prop.href)?'</p>':'';
        html_str += '</div>';
        return html_str;
      }
    }

    //trace(api_map_options);

    var mapIDAttr = (gmaps_theme_options.map_id_attr.slice(0,1)=='#')? gmaps_theme_options.map_id_attr.slice(1) : gmaps_theme_options.map_id_attr ;
    var map = document.getElementById(mapIDAttr);
    map = new google.maps.Map(map,api_map_options);

    var GMOPropCoordinates,markerColor,info,first_property_marker;

    var bounds = new google.maps.LatLngBounds();


    // LOOP STARTS HERE
    var index = 0;
    var first_property_marker = null;

    $('.property').each(function() {
      var info = $(this).data();

      GMapsStaticMarkerAppend(
        gmaps_theme_options.map_static_marker_color,
        1,
        info.latitude,
        info.longitude
      );

      info.icon = {
        url: info.markericon,
        anchor: GMOMarkerAnchorPoint
      };

      info.directions_link = "http://maps.google.com/maps?daddr=" + info.daddr;

      GMOPropCoordinates = new google.maps.LatLng(info.latitude,info.longitude);

      info.marker = new google.maps.Marker({
        position: new google.maps.LatLng(info.latitude, info.longitude),
        animation: gmaps_theme_options.marker_animation,
        anchorPoint: GMOMarkerAnchorPoint,
        position: GMOPropCoordinates,
        title: info.name,
        icon: info.markericon,
        visible: true,
        map: map
      });

      GMOPropCoordinates = new google.maps.LatLng(info.latitude,info.longitude);

      if (first_property_marker == null)
        first_property_marker = info.marker

      info.window = new google.maps.InfoWindow({
        content: gmaps_theme_options.prop_content(info)
      });

      prop[(2228 + index) + ''] = info;

      bounds.extend(new google.maps.LatLng(info.latitude,info.longitude));

      google.maps.event.addListener(info.marker,'click',(function(prop_key){
        return function(){
          deactivateAllMarkers();
          //prop_key = prop_key.toString();
          if(prop && prop[prop_key] && prop[prop_key].window) prop[prop_key].window.open(map,prop[prop_key].marker);

          trace(prop);
          trace(prop_key);
          trace(prop[prop_key]);
        }
      })(2228 + index));


      index += 1;
    });

    // LOOP ENDS HERE

    map.fitBounds(bounds);

    if(gmaps_theme_options.activate_first_property && first_property_marker){
            var timeID = setTimeout(function(){
                google.maps.event.trigger(first_property_marker,'click');
                clearTimeout(timeID);
            },500);
        }

    if(gmaps_theme_options.property_link_activates_marker){
        var propertyButtonClassName = (gmaps_theme_options.property_button_class_name.slice(0,1)=='.')? gmaps_theme_options.property_button_class_name : '.'+gmaps_theme_options.property_button_class_name ;
        $(propertyButtonClassName).click(function(){

            /*# RESTORE CLICKTHROUGH FOR MOBILE #*/
        if(gmaps_theme_options.map_static_for_mobile!==false && $(window).width()<gmaps_theme_options.mobile_breakpoint)return true;

            var property_id = $(this).data('property-id');
            google.maps.event.trigger(prop[property_id].marker,'click');
            return false;

        });
    }

    if(gmaps_theme_options.map_static_id_attr && gmaps_theme_options.map_static_id_attr!=''){
      var mapStaticIDAttr = (gmaps_theme_options.map_static_id_attr.slice(0,1)=='#') ? gmaps_theme_options.map_static_id_attr.slice(1) : gmaps_theme_options.map_static_id_attr ;
          if(mapStatic = document.getElementById(mapStaticIDAttr))$(mapStatic).append('<img class="map" src="'+GMapsStaticSrc+'" alt="A&M Properties - Property Map" />');
          //trace(GMapsStaticSrc);
        }

        //trace(prop);
  }

  function gmapsSetupControlOptions(control,controlOption,themeOption){
    if(typeof gmaps_theme_options[themeOption]==='object'){
      api_map_options[controlOption] = gmaps_theme_options[themeOption];
      api_map_options[control] = true;
    }else{
      api_map_options[control] = gmaps_theme_options[themeOption];
    }
  }

  function deactivateAllMarkers(){
      for(var k1 in prop){
      if(prop && prop[k1] && prop[k1].window) prop[k1].window.close();
    }
  }

  google.maps.event.addDomListener(window,'load',initPropertyGMap);

  function GMapsStaticMarkerAppend(color,count_prop,latitude,longitude){
      GMapsStaticSrc += "&markers=";
    GMapsStaticSrc += (color) ? 'color:0x'+color+'%7C' : '';
        GMapsStaticSrc += 'label:'+count_prop+'%7C';
        GMapsStaticSrc += latitude+','+longitude;
  }

  if(typeof trace!=='function'){
    function trace(x){
        try{
            console.log(x);
        }catch(e){}
    }
  }

{% endblock %}